  /* Add this CSS to your stylesheet */
        textarea.auto-resize {
            resize: vertical;
            /* Allow vertical resizing */
            min-height: 100px;
            /* Set a minimum height */
        }

        /* Add this CSS to your stylesheet */
        /* Add this CSS to your stylesheet */
        .btn-hover:hover {
            transform: translateY(-3px);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
         /* body {
            text-align: center;
        }
  */
        /* form {
            max-width: 450px;
            margin: auto;
        } */
 
        h2 {
            color: green;
        }
 
        .input-icons {
            width: 100%;
            margin-bottom: 10px;
        }
 
        .input-icons i {
            position: absolute;
        }
 
        .icon {
            padding: 10px;
            color: green;
            min-width: 50px;
            text-align: center;
        }
 
        /* .input-field {
            width: 100%;
            padding: 10px;
            text-align: center;
        } */